.txts_container {
    background-color: #0f0f0f;
    display: grid;
    height: 55rem;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}
.color_text_big{
    height: 512px !important;
}

.img_profile{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.first_chat{
    display: flex;
    height: 10rem;
    width: 40rem;
    left: 10%;
    position: relative;
    grid-row: 1/2;
    grid-column: 1/4;
}

.second_chat{
    display: flex;
    height: 10rem;
    width: 35rem;
    position: relative;
    grid-row: 2/2;
    grid-column: 2/4;
    top: 10%;
}
.third_chat{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 7rem;
    width: 35rem;
    position: relative;
    grid-row: 1/2;
    grid-column: 3/4;
    top: 35%;
    left: 15%;
}
.fourth_chat{
    display: flex;
    position: relative;
    height: 7rem;
    width: 35rem;
    grid-row: 3/3;
    grid-column: 3/4;
    top: -10%;
}


.profile_msg1{
    background-color: #007bff;
    height: 6rem;
    width: 25rem;
    padding: 1.6rem;
    color: #f0f0f0;
    font-weight: 500;
    border-radius: 2rem;
}

.profile_msg2{
    background-color: #f0f0f0;
    height: 6rem;
    width: 23rem;
    padding: 1.6rem;
    font-weight: 500;
    border-radius: 2rem;
}

