.navigation{
    width: 59.375rem;
    column-gap: 2rem;
    color: #f0f0f0;
}
.navi_btn{
    text-decoration: none;
    padding-bottom: .25rem ;
}
.nav_bar{
  z-index: 1000;
}

.navi_btn:hover{
    border-bottom: 2px solid #f0f0f0;
    transition: .09s;
}
.navi_spl{
    border-bottom: 2px solid #f0f0f0;

}

.silo_btn{
    font-style: normal !important;
    font-weight: normal;
    width:20rem !important;
    /* border: .1px solid #82828253; */
}

/* From Uiverse.io by Emil190313 */ 
.toggle {
    background-color: #007bff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    line-height: 1;
  }
  
  .input {
    display: none;
  }
  
  .icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
  }
  
  .icon--moon {
    transition-delay: 200ms;
    color: white;
  }
  
  .icon--sun {
    transform: scale(0);
    color: yellow;
  }
  
  #switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
  }
  
  #switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
  }
  