.sidebar{
    background-color: #f0f0f0;
}

.add_people{
    border: .5px solid #007bff;
    color: #007bff !important; 
    height: 2.188rem !important;
    width: 10.625rem !important;
    border-radius: .9rem;
}
.add_people:hover{
    color: #f0f0f0 !important; 
    border: none !important;
    transition: .5s;
}